<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filter header</title>
</head>
<body>
<hr/>
<div>
    <input class="inputText" th:id="filterText" th:type="text" th:value="${session.filter}" placeholder="Поиск"/>
    <input th:id="searchButton" th:type="button" value="Поиск"/>
    <input th:id="resetButton" th:type="button" value="Сброс фильтра"/>
</div>
<div class="commonText" th:if="${!#strings.isEmpty(session.filter)}">Результат поиска по запросу "<span class="redText" th:text="${session.filter}"></span>":</div>
<hr/>
<div class="commonText" th:if="${targets.isEmpty()}">Список пуст</div>
</body>
</html>