<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Menu header</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
</head>
<body>
    <div id="titleHead">Совершенно секретно</div>
    <hr/>
    <div id="headerPanel">
<!--        <form th:method="post" th:action="@{/logout}">-->
    <!--        sec:authorize="isAnonymous()"-->
            <form th:action="@{/login}" class="headerForm">
                <button class="headerButton">Авторизация</button>
            </form>
    <!--        sec:authorize="isAuthenticated()"-->
            <form th:method="post" th:action="@{/logout}" class="headerForm">
                <button class="headerButton" onclick="return confirm('Выйти из под текущего пользователя?')">Выйти</button>
            </form>
    <!--        sec:authorize="hasRole('ROLE_USER') || hasRole('ROLE_ADMIN') || hasRole('ROLE_GUEST')"-->
            <form th:action="@{/search}" class="headerForm">
                <button class="headerButton">Поиск паролей</button>
            </form>
    <!--        sec:authorize="hasRole('ROLE_USER') || hasRole('ROLE_ADMIN')"-->
            <form th:action="@{/edit}" class="headerForm">
                <button class="headerButton">Редактирование</button>
            </form>
    <!--        sec:authorize="hasRole('ROLE_ADMIN')"-->
            <form th:action="@{/search/print}" target="_blank" class="headerForm">
                <button class="headerButton">Версия для печати</button>
            </form>
<!--        </form>-->
    </div>
    <hr/>
</body>
</html>