<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Menu header</title>
<!--    <link th:href="@{/css/common.css}" rel="stylesheet"/>-->
</head>
<body>
    <div>Сундук с секретами</div>
    <hr/>
    <form th:method="post" th:action="@{/logout}">
        <a th:href="@{/login}" sec:authorize="isAnonymous()">Авторизация</a>
        <a type="submit" sec:authorize="isAuthenticated()"  onclick="return confirm('Выйти из под текущего пользователя?')">
            <button sec:authentication="name"></button>
        </a>
        <span sec:authorize="hasRole('ROLE_USER') || hasRole('ROLE_ADMIN') || hasRole('ROLE_GUEST')">
            <a th:href="@{/search}">Поиск паролей</a>
        </span>
        <span sec:authorize="hasRole('ROLE_USER') || hasRole('ROLE_ADMIN')">
            <a th:href="@{/edit}">Редактирование</a>
        </span>
        <span sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/search/print}" target="_blank">Версия для печати</a>
        </span>
    </form>
    <hr/>
</body>
</html>