<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title th:text="${subSystem.system.name + ', ' + subSystem.name}"></title>
  <script type="text/javascript" th:src="@{/js/get_request.js}"></script>
  <script type="text/javascript" th:src="@{/js/page_script.js}"></script>
  <script type="text/javascript" th:src="@{/js/show_script.js}"></script>
  <script th:inline="javascript">
    const page = [[${page}]];
  </script>
</head>
<body>
<div id="mainContainer">
<th:block th:replace="common/menu_header"></th:block>
<div th:text="${'История изменения паролей для системы ' + subSystem.system.name + ', ' + subSystem.name + ':'}"></div>
<hr/>
<table th:if="${targets.isEmpty() == false}">
    <tr>
        <td>Программа</td>
        <td>Логин</td>
        <td>Пароль</td>
        <td>Роль</td>
        <td>Комментарий</td>
        <td>Кто менял</td>
        <td>Дата и время</td>
    </tr>
    <tr th:each="passSlice: ${targets}">
        <td th:text="${passSlice.softName}">Программа</td>
        <td th:text="${passSlice.login}">Логин</td>
        <td th:text="${passSlice.password}" class="passwordFields" th:id="${passSlice.id}">Пароль</td>
        <td th:text="${passSlice.role}">Роль</td>
        <td th:text="${passSlice.comment}">Комментарий</td>
        <td th:text="${passSlice.whoChange}">Кто менял</td>
        <td th:text="${passSlice.lastChange}">Дата и время</td>
    </tr>
    <tr>
        <td></td><td></td>
        <td><input id="showAllButton" type="button" value="Показать все пароли"/></td>
        <td></td><td></td><td></td><td></td>
    </tr>
</table>
<th:block th:replace="common/page_footer"></th:block>
<a th:href="@{/search/{id}(id=${subSystem.id})}"><input type="button" value="Назад"></a>
<th:block th:replace="common/slip_tongue_footer"></th:block>
</div>
</body>
</html>