<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Поиск паролей:</title>
    <script type="text/javascript" th:src="@{/js/get_request.js}"></script>
    <script type="text/javascript" th:src="@{/js/page_script.js}"></script>
    <script type="text/javascript" th:src="@{/js/filter_script.js}"></script>
    <script th:inline="javascript">
        const page = [[${page}]];
    </script>
    <link th:href="@{/css/search_table_width/index.css}" rel="stylesheet"/>
</head>
<body>
<div id="mainContainer">
<th:block th:replace="common/menu_header"></th:block>
<div class="commonText">Поиск паролей:</div>
<th:block th:replace="common/filter_header"></th:block>
<table class="searchTable" th:if="${targets.isEmpty() == false}">
    <tr>
        <th class="col1">Система</th>
        <th class="col2">Подсистема</th>
        <th class="col3">Действие</th>
    </tr>
    <tr th:each="target: ${targets}">
        <td class="col1" th:text="${target.system.name}">Система</td>
        <td class="col2" th:text="${target.name}">Подсистема</td>
        <td class="col3"><a th:href="@{/search/{id}(id=${target.id}, resetParameters=true)}"><input type="button" value="Просмотр"/></a></td>
    </tr>
</table>
<th:block th:replace="common/page_footer"></th:block>
<form th:if="${targets.isEmpty() == false}" sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER')" th:action="@{/search/print}" target="_blank" class="headerForm">
    <button>Версия для печати</button>
</form>
<hr th:if="${targets.isEmpty() == false}" sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER')"/>
<a th:href="@{/}"><input type="button" value="Назад"></a>
<th:block th:replace="common/slip_tongue_footer"></th:block>
</div>
</body>
</html>