<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск паролей:</title>
    <script type="text/javascript" th:src="@{/js/search.js}"></script>
    <script th:inline="javascript">
        const page = [[${page}]];
        const path = "/search";
    </script>
</head>
<body>
<div>Список оборудования:</div>
<th:block th:replace="common/filter_header"></th:block>
<table th:if="${targets.isEmpty() == false}">
    <tr>
        <td>Система</td>
        <td>Подсистема</td>
        <td>Действие</td>
    </tr>
    <tr th:each="target: ${targets}">
        <td th:text="${target.system.name}">Система</td>
        <td th:text="${target.name}">Подсистема</td>
        <td><a th:href="@{/search/{id}(id=${target.id}, resetParameters=true)}"><input type="button" value="Просмотр"/></a></td>
    </tr>
</table>
<th:block th:replace="common/page_footer"></th:block>
</body>
</html>