<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${subSystem.system.name + ', ' + subSystem.name}"></title>
    <script type="text/javascript" th:src="@{/js/get_request.js}"></script>
    <script type="text/javascript" th:src="@{/js/page_script.js}"></script>
    <script type="text/javascript" th:src="@{/js/filter_script.js}"></script>
    <script type="text/javascript" th:src="@{/js/show_script.js}"></script>
    <script th:inline="javascript">
        const page = [[${page}]];
    </script>
    <link th:href="@{/css/search_table_width/soft.css}" rel="stylesheet"/>
</head>
<body>
<div id="mainContainer">
<th:block th:replace="common/menu_header"></th:block>
<div class="commonText">Список паролей для системы <span class="redText" th:text="${subSystem.system.name + ', ' + subSystem.name}"></span>:</div>
<th:block th:replace="common/filter_header"></th:block>
<table th:if="${targets.isEmpty() == false}">
    <tr>
        <th class="col1">Программа</th>
        <th class="col2">Логин</th>
        <th class="col3">Пароль</th>
        <th class="col4">Роль</th>
        <th class="col5">Комментарий</th>
        <th class="col6">Действие</th>
        <th class="col7" sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER')">Действие</th>
    </tr>
    <tr th:each="passSlice: ${targets}" th:if="${passSlice.actual == true}">
        <td class="col1" th:text="${passSlice.softName}">Программа</td>
        <td class="col2" th:text="${passSlice.login}">Логин</td>
        <td th:text="${passSlice.password}" class="passwordFields col3" th:id="${passSlice.id}">Пароль</td>
        <td class="col4" th:text="${passSlice.role}">Роль</td>
        <td class="col5" th:text="${passSlice.comment}">Комментарий</td>
        <td class="col6"><a th:href="@{/search/history/{id}(id=${passSlice.id})}"><input type="button" value="История изменений"/></a></td>
        <td class="col7" sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER')"><a th:href="@{/edit/soft/{id}(id=${passSlice.id})}"><input type="button" value="Правка"/></a></td>
    </tr>
    <tr>
        <td class="col1"></td><td class="col2"></td>
        <td class="col3"><input id="showAllButton" type="button" value="Показать все"/></td>
        <td class="col4"></td><td class="col5"></td><td class="col6"></td>
        <td class="col7" sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER')"></td>
    </tr>
</table>
<hr sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER')"/>
<a sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER')" th:href="@{/add/soft/{id}(id=${subSystem.id})}"><input type="button" value="Добавить"/></a>
<th:block th:replace="common/page_footer"></th:block>
<form th:if="${targets.isEmpty() == false}" sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER')" th:action="@{/search/print/{id}(id=${subSystem.id})}" target="_blank" class="headerForm">
    <button>Версия для печати</button>
</form>
<hr th:if="${targets.isEmpty() == false}" sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER')"/>
<a th:href="@{/search}"><input type="button" value="Назад"></a>
<th:block th:replace="common/slip_tongue_footer"></th:block>
</div>
</body>
</html>