<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Системы:</title>
  <script type="text/javascript" th:src="@{/js/get_request.js}"></script>
  <script type="text/javascript" th:src="@{/js/page_script.js}"></script>
  <script type="text/javascript" th:src="@{/js/filter_script.js}"></script>
  <script th:inline="javascript">
    const page = [[${page}]];
  </script>
</head>
<body>
<th:block th:replace="common/menu_header"></th:block>
<div>Список подсистем:</div>
<th:block th:replace="common/filter_header"></th:block>
<table th:if="${targets.isEmpty() == false}">
  <tr>
    <td>Система</td>
    <td>Подсистема</td>
    <td>Действие</td>
  </tr>
  <tr th:each="target: ${targets}">
    <td th:text="${target.system.name}">Система</td>
    <td th:text="${target.name}">Подсистема</td>
    <td><a th:href="@{/edit/sub_system/{id}(id=${target.id})}"><input type="button" value="Правка"/></a></td>
  </tr>
</table>
  <hr/>
  <a th:href="@{/add/sub_system}"><input type="button" value="Добавить"/></a>
<th:block th:replace="common/page_footer"></th:block>
<a th:href="@{/edit}"><input type="button" value="Назад"></a>
<th:block th:replace="common/slip_tongue_footer"></th:block>
</body>
</html>