<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Системы:</title>
</head>
<body>
<div>Список систем:</div>
<ul>
    <div>
        <input id="filter" th:type="text"/>
    </div>
    <div>
        <a th:href="@{/search/systems?filter={f}(f=${page+1})}"></a>
    </div>
    <div th:each="system: ${systems}">
        <a th:text="*{system.name}" th:href="@{/edit/system/{id}(id=${system.id})}">Система</a>
        <br/>
    </div>
    <hr/>
    <a th:href="@{/add/system}">Добавить</a>
    <hr/>
    <div>
        <a th:href="@{/search/systems?page={p}(p=${page-1})}"><<</a>
        ---
        <a th:href="@{/search/systems?page={p}(p=${page+1})}">>></a>
        <span th:text="${'Страница '+page+' из '+numOfPages}"></span>
    </div>
</ul>
</body>
</html>