<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление подсистем</title>
</head>
<body>
<div id="mainContainer">
<th:block th:replace="common/menu_header"></th:block>
<div class="commonText">Добавить подсистему:</div>
<hr/>
<!--@thymesVar id="subSystem" type="org.goznak.models.SubSystem"-->
<form id="subSystem" th:action="@{/add/sub_system}" th:object="${subSystem}" th:method="post" autocomplete="off">
    <table class="formTable">
        <tr>
            <td class="firstFormCol"><label class="commonText" for="systemName">Входит в систему:</label></td>
            <td class="secondFormCol"><input class="inputText" list="systemList" id="systemName" th:field="*{systemName}"ы></td>
            <datalist id="systemList" placeholder="Название родительской системы">
                <option th:each="system: ${systems}" th:text="${system.name}" th:selected="*{systemName}"></option>
            </datalist>
            <td class="thirdFormCol"><span class="errorText" th:text="*{systemNotExist() == true} ? 'Введите имя системы, которая занесена в БД': ''"></span></td>
        </tr>
        <tr>
            <td class="firstFormCol"><label class="commonText" for="name">Название:</label></td>
            <td class="secondFormCol"><input class="inputText" type="text" th:field="*{name}" id="name" placeholder="Название"></td>
            <td class="thirdFormCol"><span class="errorText" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></td>
        </tr>
    </table>
    <div class="errorText" th:text="*{subSystemExist() == true} ? 'Такая подсистема уже существует': ''"></div>
    <hr/>
    <input type="submit" value="Добавить" onclick="return confirm('Подтвердить добавление подсистемы?')">
</form>
<hr/>
<a th:href="@{/search/sub_systems}"><input type="button" value="Назад"></a>
<th:block th:replace="common/slip_tongue_footer"></th:block>
</div>
</body>
</html>