<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление подсистем</title>
</head>
<body>
<th:block th:replace="common/menu_header"></th:block>
<div>Добавить подсистему:</div>
<hr/>
<!--@thymesVar id="subSystem" type="org.goznak.models.SubSystem"-->
<form id="subSystem" th:action="@{/add/sub_system}" th:object="${subSystem}" th:method="post" autocomplete="off">
    <div>
        <label for="systemName">Входит в систему:</label>
        <input list="systemList" id="systemName" th:field="*{systemName}"ы>
        <datalist id="systemList" placeholder="Название родительской системы">
            <option th:each="system: ${systems}" th:text="${system.name}" th:selected="*{systemName}"></option>
        </datalist>
        <span th:text="*{systemNotExist() == true} ? 'Введите имя системы, которая занесена в БД': ''"></span>
    </div>
    <div>
        <label for="name">Название:</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Название">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div th:text="*{subSystemExist() == true} ? 'Такая подсистема уже существует': ''"></div>
    <hr/>
    <input type="submit" value="Добавить">
</form>
<hr/>
<a th:href="@{/search/sub_systems}"><input type="button" value="Назад"></a>
<th:block th:replace="common/slip_tongue_footer"></th:block>
</body>
</html>