<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление систем</title>
</head>
<body>
<div>Добавить систему:</div>
<!--@thymesVar id="system" type="org.goznak.models.System"-->
<form id="system" th:action="@{/add/system}" th:object="${system}" method="post" autocomplete="off">
    <div>
        <label for="name">Название:</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Название">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div th:text="*{systemExist() == true} ? 'Такая система уже существует': ''"></div>
    <div>
        <input type="submit" value="Добавить">
    </div>
</form>
</body>
</html>