.col1{
    width: 14%;
}
.col2{
    width: 14%;
}
.col3{
    width: 17%;
}
.col4{
    width: 13%;
}
.col5{
    width: 14%;
}
.col6{
    width: 14%;
    text-align: center;
}
.col7{
    width: 14%;
    text-align: center;
}