<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Редактирование программы</title>
</head>
<body>
<th:block th:replace="common/menu_header"></th:block>
<div th:text="${'Редактирование программы для системы ' + passSlice.subSystem.system.name + ', ' + passSlice.subSystem.name + ':'}"></div>
<hr/>
<!--@thymesVar id="passSlice" type="org.goznak.models.PassSlice"-->
<form id="passSlice" th:action="@{/edit/soft/{id}(id=${passSlice.id})}" th:object="${passSlice}" th:method="patch" autocomplete="off">
  <div th:text="${'Название программы: ' + passSlice.softName}"></div>
  <div>
    <label for="login">Логин:</label>
    <input type="text" th:field="*{login}" id="login" placeholder="Логин">
    <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
  </div>
  <div>
    <label for="password">Пароль:</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Пароль" maxlength="50" size="50">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
  </div>
  <div>
    <label for="role">Роль пользователя:</label>
    <input list="roleList" type="text" th:field="*{role}" id="role" placeholder="Роль пользователя">
    <datalist id="roleList" placeholder="Роль пользователя">
      <option th:each="role: ${rolesForCredentials}" th:text="${role}"></option>
    </datalist>
    <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>
  </div>
  <div>
    <label for="comment">Комментарий:</label>
    <textarea id="comment" th:field="*{comment}" rows="5" cols="45" name="text" placeholder="Комментарий"></textarea>
    <span th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></span>
  </div>
  <div th:text="*{noChange() == true} ? 'Вы не внесли никаких изменений': ''"></div>
  <div th:text="*{softExist() == true} ? 'Программа с таким логином уже существует': ''"></div>
  <hr/>
  <input type="submit" value="Редактировать" onclick="return confirm('Подтвердить редактирование программы?')">
</form>
<hr/>
<form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/edit/soft/{id}(id=${passSlice.id})}" th:method="delete">
  <input type="submit" value="Удалить" onclick="return confirm('Подтвердить удаление программы?')">
</form>
<hr sec:authorize="hasRole('ROLE_ADMIN')"/>
<a th:href="@{/search/{id}(id=${passSlice.subSystem.id})}"><input type="button" value="Назад"></a>
<th:block th:replace="common/slip_tongue_footer"></th:block>
</body>
</html>