<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Редактирование подсистем</title>
    <script type="text/javascript" th:src="@{/js/submit_script.js}"></script>
</head>
<body>
<th:block th:replace="common/menu_header"></th:block>
<div>Редактировать подсистему:</div>
<!--@thymesVar id="subSystem" type="org.goznak.models.SubSystem"-->
<form id="subSystem" th:action="@{/edit/sub_system/{id}(id=${subSystem.id})}" th:object="${subSystem}" th:method="patch" autocomplete="off">
    <div>
        <label for="systemName">Входит в систему:</label>
        <input list="systemList" id="systemName" th:field="*{systemName}" placeholder="Название системы">
        <datalist id="systemList" placeholder="Название родительской системы">
            <option th:each="system: ${systems}" th:value="${system.name}" th:selected="*{systemName}">
        </datalist>
        <span th:text="*{systemNotExist() == true} ? 'Введите имя системы, которая занесена в БД': ''"></span>
    </div>
    <div>
        <label for="name">Название:</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Название">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div th:text="*{subSystemExist() == true} ? 'Такая подсистема уже существует': ''"></div>
    <hr/>
    <div>
        <input type="submit" onclick="confirmation()" value="Редактировать">
    </div>
</form>
<hr/>
<form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/edit/sub_system/{id}(id=${subSystem.id})}" th:method="delete">
    <input type="submit" value="Удалить">
</form>
<hr sec:authorize="hasRole('ROLE_ADMIN')"/>
<a th:href="@{/search/sub_systems}"><input type="button" value="Назад"></a>
<th:block th:replace="common/slip_tongue_footer"></th:block>
</body>
</html>