<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование подсистем</title>
</head>
<body>
<div>Редактировать подсистему:</div>
<!--@thymesVar id="subSystem" type="org.goznak.models.SubSystem"-->
<form id="subSystem" th:action="@{/edit/sub_system/{id}(id=${subSystem.id})}" th:object="${subSystem}" th:method="patch" autocomplete="off">
    <div>
        <label for="systemName">Входит в систему:</label>
        <input list="systemList" id="systemName" th:field="*{systemName}" placeholder="Название системы">
        <datalist id="systemList" placeholder="Название родительской системы">
            <option th:each="system: ${systems}" th:value="${system.name}" th:selected="*{systemName}">
        </datalist>
        <span th:text="*{systemNotExist() == true} ? 'Введите имя системы, которая занесена в БД': ''"></span>
    </div>
    <div>
        <label for="name">Название:</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Название">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div th:text="*{subSystemExist() == true} ? 'Такая подсистема уже существует': ''"></div>
    <div>
        <input type="submit" value="Редактировать">
    </div>
</form>
<form th:action="@{/edit/sub_system/{id}(id=${subSystem.id})}" th:method="delete">
    <div>
        <input type="submit" value="Удалить">
    </div>
</form>
<a th:href="@{/search/sub_systems}"><input type="button" value="Назад"></a>
</body>
</html>