<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Редактирование системы</title>
</head>
<body>
<th:block th:replace="common/menu_header"></th:block>
<div>Редактировать систему:</div>
<!--@thymesVar id="system" type="org.goznak.models.System"-->
<form id="system" th:action="@{/edit/system/{id}(id=${system.id})}" th:object="${system}" th:method="patch" autocomplete="off">
    <div>
        <label for="name">Название:</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Название">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div th:text="*{systemExist() == true} ? 'Система с таким названием уже есть': ''"></div>
    <hr/>
    <div>
        <input type="submit" value="Редактировать" onclick="return confirm('Подтвердить редактирование системы?')">
    </div>
</form>
<hr/>
<form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/edit/system/{id}(id=${system.id})}" th:method="delete">
    <input type="submit" value="Удалить" onclick="return confirm('Подтвердить удаление системы?')">
</form>
<hr sec:authorize="hasRole('ROLE_ADMIN')"/>
<a th:href="@{/search/systems}"><input type="button" value="Назад"></a>
<th:block th:replace="common/slip_tongue_footer"></th:block>
</body>
</html>