.headerForm {
    display: inline-block;
}
.headerButton {
    font-size: 22px;
    font-family: trixieCyrCameo, monospace;
    padding: 5px;
    color: #da2313;
    background-color: transparent;
    border: 1px;
    transition: 0.3s;
}
.headerButton:hover{
    color: #402429;
}

#headerPanel {
    text-align: center;
    margin: 0 auto;
    background-color: #f2db93;
    padding: 18px;
}
#titleHead{
    font-size: 30px;
    font-family: trixieCyrCameo, monospace;
    color: #402429;
    text-align: center;
    rotate: -1deg;
}
a {
    text-decoration: none;
}
.temp {
    color: #da2313;
}
.temp1 {
    color: #cc9675;
}
.temp2 {
    color: #402429;
}
.temp3 {
    background-color: #f2db93;
}