a {
    text-decoration: none;
}
.headerForm {
    display: inline-block;
}
.headerButton {
    font-size: 22px;
    font-family: trixieCyrCameo, monospace;
    padding: 5px;
    color: #da2313;
    background-color: transparent;
    border: 1px;
    transition: 0.3s;
}
.headerButton:hover{
    color: #402429;
}

#headerPanel {
    text-align: center;
    margin: 0 auto;
    background-color: #f2db93;
    padding: 10px;
}
#titleHead{
    font-size: 28px;
    font-family: trixieCyrCameo, monospace;
    color: #402429;
    text-align: center;
}