<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<div id="mainContainer">
<th:block th:replace="common/menu_header"></th:block>
<div class="commonText">Для авторизации введите данные:</div>
<hr/>
<form th:action="@{/login}" th:method="post" autocomplete="off">
    <table class="formTable">
        <tr>
            <td class="firstFormCol"><label class="commonText" for="login">Имя пользователя:</label></td>
            <td class="secondFormCol"><input class="inputText" id="login" type="text" name="username"/></td>
            <td class="thirdFormCol"></td>
        </tr>
        <tr>
            <td class="firstFormCol"><label class="commonText" for="password">Пароль:</label></td>
            <td class="secondFormCol"><input class="inputText" type="password" name="password" id="password"></td>
            <td class="thirdFormCol"></td>
        </tr>
    </table>
    <div class="errorText" th:if="${param.error}" th:text="${session.error}" th:unless="${session == null}"></div>
    <hr/>
    <div>
        <input type="submit" value="Авторизоваться">
    </div>
</form>
<hr/>
<a th:href="@{/}"><input type="button" value="Назад"></a>
<th:block th:replace="common/slip_tongue_footer"></th:block>
</div>
</body>
</html>